* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope';
  font-size: 18px;
}

.container {
  background: var(--black);
  color: var(--orange);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}